/* Global CSS 

*/

*
{ 
	margin: 0;
	padding: 0; 
}

html,body
{
	height:99%;
}

button
{
	cursor:pointer;
	background-color: #00CC99;
	
}

body
{
	margin:0px 0px 0px 0px;
	background-color:white;
	min-width:600px;
	font-family: "Arial", Sans-serif;
	font-size: 30px;
	overflow:hidden;
	background-image: none; /*url('image/straws.png');*/
	background-color: white;
	color: black;
}


#pw_bar
{
}

#pw_bar a, #pw_bar button, #pw_bar button:hover, #pw_bar button:active
{
	color: #000;
	background: #f5f6f6; /* Old browsers */
	background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */	
}

#pw_bar form
{
	position: absolute;
	z-index: 3;
	right: 3px;
	top: 0px;
	display:inline;
	margin: 0px 0px 0px 300px;
	padding: 2px;
	/*
	border-left: 3px groove rgba(255, 255, 255, 0.34);
	border-right: 3px groove rgba(255, 255, 255, 0.34);
	*/
}

#page_title
{
	color: #FFF;
	font-size: 25px
}

.group_name, .day_block
{
	padding-left: 20px;
	padding: 10px;
	display: inline-block;
	border-radius: 3px;
	margin: 5px 5px 10px 5px;
	font-size: 30px
	font-weight: bold;
	border: 1px solid #000;
	background: none;
	background-color: white;
}

.day_block
{
	color: #FFF;
	background-color: #0099FF;
}

.day
{
	font-weight: bold;
}

.time_value
{
	margin-left: 15px;
}

#page
{
	display:table;
	overflow:hidden;
	margin:0px auto;
}
#main_content
{
	display:table-cell;
	vertical-align: middle;
}

#page
{
	height:100%;
}

#main_content button
{
	border-radius: none;
	border: 10px;
	font-weight: bold;
	font-size: 30px;
	padding: 1px 5px 1px 5px;	
	margin:5px 5px 5px 5px;
	
	background: white;
	color: black;

		
}

#main_content button:hover
{
background-color: #999999;
}

#main_content button:active
{
	padding: 0px 3px 0px 3px;	
	margin:6px 7px 6px 7px;	
}

select
{
	margin-top: 6px;
	margin-bottom: 6px;
}

label
{
	display: inline-block;
	width: 130px;
	font-size: 20px;
}

input
{
	width:200px;
	padding: 0px;
	margin: 5px;
}

input[type="password"], input[type="textfield"]
{
    
    padding: 5px;   
    border: 1px solid #DDDDDD;
    
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    
    /*Applying CSS 3radius*/   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;

}
input[type="password"]:hover, input[type="textfield"]:hover
{
    border:1px solid #cccccc;
}
input[type="password"]:focus, input[type="textfield"]:focus
{
    box-shadow:0 0 2px #FFFE00;
}

h1
{
	color: black;
	font-size: 80px;
	font-weight: bold;
	margin-bottom: 10px;
}

h2
{
	margin: 25px 0px 0px 10px;
}

#course_form
{
}

#login_window
{
/*background-color: white;
color: #cccccc;*/

}

#login_form
{
}

#schedule_accept_classes
{
}
.add
{
	padding:3px;
	border-radius: 3px;
	border: 2px groove #DDD;
	font-weight: bold;
	font-size: 14px;
	margin:0px;
	background-color: #AFA;
	background-image: none;
}

.add:active
{
	padding:3px;
	border-radius: 3px;
	border: 2px groove #DDD;
	font-weight: bold;
	font-size: 14px;
	margin:0px;
}
.window_background
{
	background-color: white;

}

.error_box
{
	color: #911;
	width:400px;
	background-color: #efd0d0;
	border: 1px solid #da9797;	
	text-align: center;
	margin: auto auto;
	border-radius: 3px;
}

.green_box
{
	color: #191;
	width:400px;
	background-color: #d0efd0;
	border: 1px solid #97da97;	
	text-align: center;
	margin: auto auto;
	border-radius: 3px;
}

.search_classes_left_align
{
	width: 320px;
	margin: 0px auto 0px auto;
	text-align: left;
}

.calc_schedule_left_align
{
	width: 900px;
	margin: 0px auto 0px auto;
	text-align: left;
}

.center_on_page
{
	display:table-cell;
	vertical-align:middle;
}

.small_window
{
	padding: 15px;
	width:50000px;
	text-align: center;
}

.large_window
{
	padding: 40px;
	width:50000px;
	text-align: center;
	margin-top: 150px;
}

.drop_shadow
{
	/*
	box-shadow: 10px 10px 5px #888888;
	*/
}

.group_block, .member_block
{
	width: 65%;
	border: 2px solid #000;
	border-radius: 3px;
	margin: 8px auto 8px auto;
	padding: 10px 0px 10px 0px;
	font-weight: bold;
	font-size: 20px;
	background: #f5f6f6; /* Old browsers */
	background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */		
}

.no_wrap
{
	white-space: nowrap;
}


/*ADD CLASSES*/

.add_classes
{
    font-size: 50px


}

/*CALC SCHEDULE*/
.calculate_schedule
{
    font-size: 30px;
}



/* AVAILABILITY! */


.manage_availability
{
background-color: white;
color: black;
font-weight: 100;

}

.manage_availability h1
{
color: #black;
font-weight: 100;
}

.manage_availability h3
{
font-size: 40px
}


.availability_active, .availability_inactive
{

background-color: white;

}

.availability_active:hover, .availability_inactive:hover
{

background-color: white;

}


.availability_active
{

background-color: #dddddd;

}

.availability_inactive
{

background-color: black;
 
}

.availability_title_wrapper
{


}

.availability_title
{
	background-color: white;
	bottom: 41px;
}

.availability_title_wrapper:hover .availability_title
{

}

.block_break
{
}

/* For smaller screens make the pw_bar smaller font */
@media screen and (max-width: 970px)
{
	#pw_bar a, #pw_bar button, #pw_bar button:hover, #pw_bar button:active
	{
		margin: 3px 0px 0px 0px;
		font-size: 20px;
	}
	
	#page_title
	{
		top: 6px;
		font-size: 20px;
	}
	
	#pw_bar
	{
		font-size:20px;
	}
	
	.availability_active, .availability_inactive
	{
		width: 25px;
	}	
}
