/* Mel Theme CSS

*/



button
{
	color:#000;
}

body
{
	background-color: rgb( 128, 128, 128);
	background-image: url( "woodbackground3.png" );
}

#pw_bar
{
}

#pw_bar a, #pw_bar button, #pw_bar button:hover, #pw_bar button:active
{
}

#pw_bar form
{
}

#page_title
{
}

.group_name, .day_block
{	
}

.day_block
{
}

.day
{
}

.time_value
{
}

#page
{
}
#main_content
{
}

#page
{
}

#main_content button
{
}

#main_content button:hover
{
}

#main_content button:active
{
}

select
{
}

label
{
}

input
{
}

input[type="password"], input[type="textfield"]
{
}
input[type="password"]:hover, input[type="textfield"]:hover
{
}
input[type="password"]:focus, input[type="textfield"]:focus
{
}

h1
{
	color: rgb(205, 133, 63);
}

h2
{
	color: rgb(205, 133, 63);
}

#course_form
{
}

#login_window
{
}

#login_form
{
}

#schedule_accept_classes
{
}
.add
{
}

.add:active
{
}
.window_background
{
}

.error_box
{
}

.green_box
{
}

.search_classes_left_align
{
}

.calc_schedule_left_align
{
}

.center_on_page
{
}

.small_window
{
}

.large_window
{
}

.drop_shadow
{
}

.group_block, .member_block
{
}
