body
{
	margin:0px;
	background-color:#AAAAAA;
}
#title
{
	margin: 50px auto 0px auto;
	padding: 10px 0px 10px 0px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	width: 100%;
	text-align: center;
	background-color:#CCCCCC;
}
#main_window
{
	padding:10px;
	background-color:#FFFFFF;
	margin:50px auto 0px auto;
	width:500px;
	border-radius:8px;
	border:2px solid #000000;
}
.img_icon
{
	width:50px;
	height:50px;
}
.default_submit
{
	margin-top:50px;
	font-size:25px;
}
.default_input
{
	font-size:15px;
}
.post_name
{
	font-size:15px;
}
.post_value
{
	font-size:15px;
}