RewriteEngine On
RewriteBase /pockwester/web/

# Force non www   *** ENABLE ONCE LIVE ***
# RewriteCond %{HTTP_HOST} ^www.domain.com$ [NC]
# RewriteRule ^(.*)$ http://domain.com$1 [R=301,L]

# Forces trailing slash (/about -> /about/)
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_URI} !(.*)/$
# RewriteRule ^(.*)$ $1/$2/$3/ [L,R=301]

# Don't rewrite for existing files, directories and links
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

# Everything goes to index
RewriteRule . index.php [L,QSA]